body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(assets/abc.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.todo-create {
  display: flex;
  direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TodoBtn {
  border-radius: 10px;
  background-color: gold;
}